.large-image-size{
    width: 600px;
    height: 720px;
    object-fit: cover;
}

.box-condition{
    border: 2px solid #47ae74;
    color: #47ae74;
    width: 130px;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tt-tt-1{
    font-size: 34px;
    line-height: 46px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tt-tt-2{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tt-tt-3{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #999;
}
.line-through{
    width: 690px;
    height: 1px;
    background-color: #99999947;
}

.tt-tt-4{
    font-size: 26px;
    font-weight: 700;
    color: #000;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tt-tt-5{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #666;
}

.border-calc{
    border: 1px solid  #99999947;
    width: 135px;
    border-radius: 5px;
    height: 45px;
}

.btn-tt{
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    background-color:#373737 ;
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.4s;
}

.btn-tt:hover{
    background: #C96838;
}

.tt-tt-6{
    font-size: 12px;
    font-weight: 300;
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: 2px;
    color: #999;
}

.line-border{
    border: 1px solid  #99999947 ;
    padding:30px;
    border-radius: 5px;
}

.tt-tt-7{
    font-size: 14px;
    line-height: 20px;
    color: #999;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    transition: 0.4s;
    cursor: pointer;
}
.widthonly{
    margin-top: 12px;
    width: 30px;
    text-align: center;
}

.tt-tt-8{
    font-size: 14px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    color: #666;
    transition: 0.4s;
    cursor: pointer;
}

.tt-tt-8:hover{
    color: #C96838;
}

.tt-tt-9{
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: #666;
    transition: 0.4s;
    cursor: pointer;
}

.tt-tt-9:hover{
    color: #C96838;
}

.border-ff{
    border: 1px solid #99999947;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 46px;
}

.tt-tt-10{
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tt-tt-11{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 1.55;
}

.tt-tt-12{
    font-size: 13px;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-top: 10px;
}
.text-color{
    transition: 0.4s;
}

.text-color:hover{
    color: #C96838;
}

.hidden-image{
    height: 450px;
    overflow-y: scroll;
}

.hidden-image::-webkit-scrollbar {
    display: none; 
}

.tt-tt-13{
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tt-tt-14{
    font-size: 13px;
    color: #999;
    font-weight: 300;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.shop-status{
    background: #4cbb6c;
    height: 50px;
    position: relative;
    top: 8px;
}

.tx-1{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    line-height: 50px;
}

.card-image{
    width: 190px;
    height: 240px;
    object-fit: cover;
}

.card-q{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.b-only{
    border-right: 1px solid #66666636;
}

.tx-2{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tx-3{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.tx-4{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #666;
}

.btn-card-1{
    border:0;
    background: white;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Be Vietnam Pro', sans-serif;
    position: relative;
    top: 17px;
}

.underline{
    width: 145px;
    height: 2px;
    margin-top: 5px;
    background-color:#00000024;
    transition: 0.2s;
}

.btn-card-1:hover .underline{
    background-color: #000;
}

.btn-card-2{
    border: 0;
    background-color: #373737;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    width: 230px;
    transition: 0.3s;
}

.btn-card-2:hover{
    background-color: #C96838;
}

.box-card-effect{
    position: absolute;
    top: 12%;
    left: 5% !important;
}


// @media (max-width:1900px){
//     .box-card-effect{
//         position: absolute;
//         top: 12%;
//         left: 10%;
//     }

//   }


  @media (max-width:5000px){
    .box-card-effect{
        position: absolute;
        top: 12%;
        left: 15%  ;
    }

  }